<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Blog Jsonapi Base64</h1>

    <p> <small>This is the base Rails app used at <%= link_to "Brewhouse", "http://brewhouse.io" %>.</small> </p>
  </div>
</div>
